body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', 'Roboto', sans-serif;
	font-size: 16px;
	color: #000000;
}

p {
	margin: 0 0 1em 0;
}

header {
	margin: 0;
	padding: 10px 10px 0px 0px;
	background: #3f53c5;
  height: 135px;
  position: relative;
	overflow: hidden;
}

h1 {
	font-family: 'Raleway', 'Roboto', sans-serif;
	font-size: 3.25em;
	letter-spacing: 3px; 
	color: white;
	text-shadow: 0px 0px 15px black;
	margin: 0;
	position: relative;
	text-align: center;
  text-transform: uppercase;
}

h1 a {
	text-decoration: none;
	color:#fff;
}

nav {
  position: sticky;
  width: 100%;
	background-color: #3f53c5;
	padding: 10px 20px 10px 25px;
	color: #fff;
	box-sizing: border-box;
	top: 0px;
}


nav {
	background-color: #3f53c5;
	padding: 10px 20px 10px 25px;
	color: #fff;
	box-sizing: border-box;
	top: 0px;
}

nav a {
	font-weight: 700;
	letter-spacing: 2px;
	color: #ffffff;
	text-decoration: none;
  text-align: center;
	display: block;
	margin: 0;
	padding: 14px 0;
	border-top: 1px solid rgba(255,255,255,.1);
}

nav a:hover {
	background-color: #ff71d0;
	padding-left: 15px;
}

#banner {
  width: 100%;
	display: grid;
  grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-items: center;
	justify-content: center;

}

#banner-img {
  grid-area: 1 / 1 / 2 / 2;
  
}

.intro {
  font-size: 1.7em;
  font-weight: 900;
  color:#3f53c5;
}

#banner-text {
  grid-area: 2 / 1 / 2 / 2;	
  background-color: #ffd4f1;
  font-size: 1.5em;
  font-weight: 500;
  padding:  20px;
}

main {
	width: 92%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-items: center;
	justify-content: space-evenly;
	padding: 15px;
}

img {
  max-width: 100%;
  display: block;
}

footer {
	width: 100%;
	box-sizing: border-box;
	display: block;
  width: 100%;
	background-color: #3f53c5;
	font-weight: 200;
	letter-spacing: 2px;
	padding-top: 20px;
	padding-left: 20px;
}

footer img {
  width: 40%;
}

footer, footer a {
	color: #ffffff;
	text-decoration: none;
	margin: 0 auto;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
}

.social {
	width: 50px;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

@media (min-width: 550px) {
	h1 {
		padding: 0px 150px 0px 150px;
	}
}

@media (min-width: 750px) {

  main {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    padding: 15px;
    align-items: center;
  }

  main p {
    padding: 15px;
  }
}

@media (min-width: 815px) {
	header {
		height: 100px;
	}

	h1 {
		text-align: right;
		padding-right: 30px;
	}
	
	nav {
		position: sticky;
		width: 100%;
		top: 0px;
		left: 0px;
		transition: none;
	}
	
	nav a {
		display: inline-block;
		width: 15%;
		border-top: none;
		text-align: center;
	}
	
	nav a:hover {
		padding: 10px 0px;
	}

}

@media (min-width: 1025px) {
  #banner {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    justify-content: center;
  
  }
  
  #banner-img {
    grid-area: 1 / 1 / 2 / 2;
  }

  #banner img {
    min-width: 60vw;
    max-width: 60vw;
  }
  
  .intro {
    font-size: 1.5em;
    font-weight: 900;
    color:#3f53c5;
  }
  
  #banner-text {
    grid-area: 1 / 2 / 2 / 3;	
    background-color: #ffd4f1;
    font-size: 1.3em;
    font-weight: 500;
    padding:  20px;
  }

	main {
		width: 98%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr auto;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		justify-content:start;
		padding: 15px;
		align-items:start;
	}

}

@media (min-width: 1600px) {
	main {
		max-width: 65vw;
	}
}



























